@model IEnumerable<DDDiplom.Models.Order>


@section Styles
    {
    <link href="~/css/main.css" rel="stylesheet" />
}
@section WindowName
{
    <div class="action-title">
        <div class="container">
            <p class="action-text">Заказы</p>
        </div>
    </div>
}
<hr class="nav-line" noshade>


<form asp-action="Index">

    <div class="act-buttons">
    <input class='act-button' id='actBackButton' type="submit" value="Фильтр" />
    </div>

    <select name="AddressesFilter">
        <option value="all">Все адреса</option>
        @foreach (var item in ViewBag.Addresses)
        {
            <option value="@item">@item</option>
        }
    </select>

    <div class="table-search">
        <span><input type="datetime-local" name="StartDate" /></span>
        <span><input type="datetime-local" name="EndDate" /></span>
    </div>

</form>



<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th class='table__name'>
                    Номер:
                </th>
                <th class='table__lname'>
                    Клиент:
                </th>
                <th class='table__sname'>
                    Итого:
                </th>
                <th class='table__pickup-point'>
                    Дата:
                </th>
                <th class='table__pickup-point'>
                    Пункт:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class='table__name'>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class='table__lname'>
                    @Html.DisplayFor(modelItem => item.Client.Surname) @Html.DisplayFor(modelItem => item.Client.Name) @Html.DisplayFor(modelItem => item.Client.Secondname)
                </td>
                <td class='table__sname'>
                    @Html.DisplayFor(modelItem => item.Summary) руб.
                </td>
                <td class='table__sname'>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
                <td class='table__pickup-point'>
                    @Html.DisplayFor(modelItem => item.WorkPlace.Name)
                </td>
                <td class='table__button'>
                    <a asp-action="Details" asp-route-id="@item.Id">Просмотреть</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
