@model IEnumerable<DDDiplom.Models.Order>


@{
    ViewData["Title"] = "Index";
}
@section Styles
    {
    <link href="~/css/main.css" rel="stylesheet" />
}
@section WindowName
{
    <div class="action-title">
        <div class="container">
            <p class="action-text">Заказы</p>
        </div>
    </div>
}
<hr class="nav-line" noshade>
<div class="act-buttons">
    <li class='act-button' id='actBackButton'><a asp-action="Index">посмотреть</a></li>
    <li class='act-button' id='actAddButton'><a asp-action="Create">добавить +</a></li>
</div>
<div class="table-search">
    <input type="text" name="table-search" id="tableSearch">
</div>
<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th class='table__name'>
                    Номер:
                </th>
                <th class='table__lname'>
                    Клиент:
                </th>
                <th class='table__sname'>
                    Итого:
                </th>
                <th></th>            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class='table__name'>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class='table__lname'>
                        @Html.DisplayFor(modelItem => item.Client.Surname) @Html.DisplayFor(modelItem => item.Client.Name) @Html.DisplayFor(modelItem => item.Client.Secondname)
                    </td>
                    <td class='table__sname'>
                        @Html.DisplayFor(modelItem => item.Summary) руб.
                    </td>
                    <td class='table__button'>
                        <a asp-action="Details" asp-route-id="@item.Id">Просмотреть</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
