@model IEnumerable<DDDiplom.Models.UserProfile>


@{
    ViewData["Title"] = "Index";
}
@section Styles
    {
    <link href="~/css/main.css" rel="stylesheet" />
}
@section WindowName
{
    <div class="action-title">
        <div class="container">
            <p class="action-text">Окно администратора</p>
        </div>
    </div>
}

<form asp-action="Index">
    <hr class="nav-line" noshade>
    <div class="act-buttons">
        <li class='act-button' id='actBackButton'><a asp-action="Index">посмотреть</a></li>
        <li class='act-button' id='actAddButton'><a asp-action="Register">добавить +</a></li>
    </div>

    <select name="AddressesFilter">
        <option value="all">Все адреса</option>
        @foreach (var item in ViewBag.Addresses)
        {
            <option value="@item">@item</option>
        }
    </select>


    <input type="submit" Показать />

</form>

<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th class='table__name'>
                    Имя
                </th>
                <th class='table__lname'>
                    Фамилия
                </th>
                <th class='table__sname'>
                    Отчетсво
                </th>
                <th class='table__exp'>
                    Стаж, мес.
                </th>
                <th class='table__pickup-point'>
                    Место работы
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class='table__name'>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class='table__lname'>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td class='table__sname'>
                        @Html.DisplayFor(modelItem => item.Patronymic)
                    </td>
                    <td class='table__exp'>
                        @Html.DisplayFor(modelItem => item.Experience)
                    </td>
                    <td class='table__pickup-point'>
                        Г.  @Html.DisplayFor(modelItem => item.WorkPlace.Address.City), ул. @Html.DisplayFor(modelItem => item.WorkPlace.Address.Street), д. @Html.DisplayFor(modelItem => item.WorkPlace.Address.BuildingNumber)
                    </td>
                    <td class='table__button'>
                        <a asp-action="Edit" asp-route-id="@item.Id">Просмотреть</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
